footer {
  height: 135px;
  width: 100%;
  background: var(--green);
  padding: 20px 10px;
  display: flex;
  justify-content: center;
}

footer .footerMain {
  width: 100%;
  max-width: 1180px;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
}

footer .footerMain .footerCity {
  display: flex;
}

.footerCity img {
  width: 180px;
  height: 60px;
}

.footerCity .infos {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  margin-left: 5px;
}

.infos span {
  color: var(--text);
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: 0.9rem;
  font-weight: 600;
}

footer .footerMain .redesPref {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.redesPref >span {
  font-weight: 600;
  text-transform: uppercase;
  align-self: center;
}

.redesPref .redes {
  display: flex;
  width: 100%;
  justify-content: space-around;
  
}

.redesPref .redes div {
  width: 32%; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  color: var(--text);
  margin-top: 10px;
}