header {
  background: var(--yellow);
  height: 185px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header .headingWrapper {
  height: 33px;
  width: 100%;
  background: #eee ;
  display: flex;
  justify-content: center;
}

.headingWrapper .heading {
  width: 100%;
  max-width: 1180px;
  height: 100%;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .heading span {
  font-size: 0.9rem;
  color: var(--text);
}

.heading .headingOptions button {
  border: none;
  margin-left: 5px;
  background: transparent;
  color: var(--text);
  font-size: 0.8rem;
}

header .headerBannerWrapper {
  height: 100px;
  background: var(--blue);
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.headerBannerWrapper .headerBanner {
  width: 100%;
  max-width: 1180px;
  height: 100%;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headerBanner span {
  color: var(--white);
  font-weight: 300;
  font-size: 1.1rem;
}

.headerBanner p {
  color: var(--white);
  font-weight: 600;
  font-size: 1.8rem;
}

header .headerMenuWrapper {
  background: var(--green);
  width: 100%;
  height: 43px;
  display: flex;
  justify-content: center;
}

.headerMenuWrapper .headerMenu {
  width: 100%;
  max-width: 1180px;
  height: 100%;
}