* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #000505;
  --text: #343434;
  --background: #fafafa;
  --gray: #9aa0a8;
  --green: #0DAB64;  
  --blue: #0D59B5;
  --yellow: #FDCC04;
}

/* --greens: #23ce6b;
  --green: #1eae4e;  
*/

body {
  background: var(--background);
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body, input, textarea, button {
  font: 500 1rem sans-serif;
  color: var(--text);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-family: sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

button {
  cursor: pointer;
}

main {
  width: 100vw;
  max-width: 1180px;
  padding: 0 20px;
  background: var(--white);
  align-items: center;
  display: flex;
  flex-direction: column;
}