@media (max-width: 1020px) {
  main {
    max-width: 100vh;
  }

  main .carousel {
    width: 100%;
  }

  .carouselContainer {
    width: 98%;
  }

  main .lastNewsAndServices {
    width: 100%;
  }

  .footerCity img {
    width: 170px;
    height: 50px;
  }

  footer .footerMain .redesPref {
    width: 37%;
  }

  .redesPref >span {
    font-size: 0.8;
  }
  
}